<!---EDUCATION-->
<div class="container justify-content-center">
    <h3 class="titulo-centrado">Education</h3>
    <div class="row justify-content-center">
      <div class="education-image-col col-xs-2 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <strong>Desarrolladora Full Stack Jr</strong>
        <div class="row"><p class="fechas">2022</p></div>
      </div>
      <div class="education col-xs-10 col-sm-6 col-md-8 col-lg-8 col-xl-9">
        <p><i>
          <strong>Argentina Programa</strong><br>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          Autem praesentium perferendis blanditiis corporis pariatur molestias 
          unde aspernatur explicabo iste iure, aperiam exercitationem esse 
        </i></p>
      </div>
    </div>
    <hr>
    <div class="row justify-content-center">
      <div class="education-col col-xs-2 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <strong>Diseño Gráfico</strong>
        <div class="row"><p class="fechas">1991 - 1993</p></div>
      </div>
      <div class="education col-xs-10 col-sm-6 col-md-8 col-lg-8 col-xl-9">
        <p><i>
          <strong>ORT</strong><br>
          Carrera terciaria de la carrera Diseño gráfico. Cursé en una época donde apenas empezaban a utilizarse 
          las computadoras, el diseño era a mano y dedicarse al diseño web, inimaginable. 
        </i></p>
      </div>
    </div>    
    <hr>
    <div class="row justify-content-center">
      <div class="education-col col-xs-2 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <strong>Profesorado de hebreo</strong>
        <div class="row"><p class="fechas">1990 - 1993</p></div>
      </div>
      <div class="education col-xs-10 col-sm-6 col-md-8 col-lg-8 col-xl-9">
        <p><i>
          <strong>Mijlelet Shazar</strong><br>
          Carrera de profesora de hebreo nivel primario. Hice también materias intensivas en la UNiversidad de Tel Aviv, en Israel.
        </i></p>
      </div>
    </div>
    <hr>
    <div class="row justify-content-center">
      <div class="education-col col-xs-2 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <strong>Secundario</strong>
        <div class="row"><p class="fechas">1984 - 1988</p></div>
      </div>
      <div class="education col-xs-10 col-sm-6 col-md-8 col-lg-8 col-xl-9">
        <p><i>
          <strong>Instituto Modelo Hebreo Argentino "Rambam"</strong><br>
          Trayectoria con especialización, bachiller con orientación pedagógica.
        </i></p>
      </div>
    </div>
  </div>  