/*--FOOTER--*/
#footer{ 
    background-color: #69014b;
    margin-top:1.25rem;
    justify-content: center;
    display: flex;
  }
  .datos-pie{
    color:#fff;
    text-align: center center;
    padding-top: 0.313rem;
    font-size: .8rem;
  }