/*--FOOTER--*/
#footer{ 
    background-color: #69014b;
    margin-top:20px;
    justify-content: center;
    display: flex;
  }
  .datos-pie{
    color:#fff;
    text-align: center center;
    padding-top: 5px;
    font-size: .8rem;
  }