/*---ADMIN---*/

/*--NAV LATERAL DERECHO--*/
  .nav-vertical{
    margin-right: 1rem;
    margin-top:0rem;
    align-items: center;
    float:right;
    text-decoration: none;
    writing-mode: vertical;
    height: 70vh;
  }
  .logo-ap-admin-vertical{
    max-width: 2.3em;
  }
  .alin-vertical{
    margin-top:2.2rem;
  }


/*--ADMIN PANEL DAMERO--*/
.aadmin-panel{
  width:70%;
  margin-bottom:15px;
  position:relative;
}

.admin-iconos{
  position: relative;
  display: block;
}

.aadmin-iconos:hover{
  color:#fff;
}


  .admin{
    margin-top: 20px;
  }
  .aadmin{
    margin-top: 7rem !important;
  }
  
  
  .links{
    text-decoration: none;
  }
  .yo-image{
    width: 50%;;
  }
  
  /*--BOTONES FORMULARIOS--*/
  .fa-plus:hover{
    color:#f71aa6;
  }
  .fa-pencil:hover{
    color:#2c9011;
  }
  .fa-trash-can-arrow-up:hover{
    color:#ab0c0c;
  }
  .fa-xmark:hover{
    color:#f1ee06;
  }
  
  textarea::placeholder{
    font-style: italic;
    font-size: .9em;
  }
  
  


  ul{
    text-decoration: none;
  }



 
  a, a:hover{
    text-decoration: none;
  }


  

