<app-navbaradmin></app-navbaradmin>


<!--Admin damero-->

<section id="aadmin" class="aadmin">
<!--botones que abren los modales-->
    <div class="container aadmin-panel text-center">
        <!--grupo 1-->
        <div class="row g-2 lg-3">
          <div class="col">
            <div class="p-2"><button type="button" class="btn list-group-item btn-lg p-5" data-bs-toggle="modal" data-bs-target="#modalRedes">
                <i class="fa-solid fa-network-wired fa-xl aadmin-iconos"></i>
                         </button></div>
            
          </div>
          <div class="col">
            <div class="p-2 "><button type="button" class="btn list-group-item btn-lg p-5" data-bs-toggle="modal" data-bs-target="#modalPortada">
                           <i class="fa-solid fa-panorama fa-xl aadmin-iconos"></i>
                         </button></div>
          </div>
          <div class="col">
            <div class="p-2 "><button type="button" class="btn list-group-item btn-lg p-5" data-bs-toggle="modal" data-bs-target="#modalAboutme">
                           <i class="fa-regular fa-address-card fa-xl aadmin-iconos"></i>
                         </button></div>
          </div>
        </div>
        <!--grupo 2-->
        <div class="row g-2 lg-3 mt-3">
            <div class="col">
              <div class="p-2 "><button type="button" class="btn list-group-item btn-lg p-5" data-bs-toggle="modal" data-bs-target="#modalTeaching">
                           <i class="fa-solid fa-school-flag fa-xl aadmin-iconos"></i>
                         </button></div>
            </div>
            <div class="col">
              <div class="p-2 "><button type="button" class="btn list-group-item btn-lg p-5" data-bs-toggle="modal" data-bs-target="#modalDesign">
                           <i class="fa-solid fa-icons fa-xl aadmin-iconos"></i>
                         </button></div>
            </div>
            <div class="col">
              <div class="p-2 "><button type="button" class="btn list-group-item btn-lg p-5" data-bs-toggle="modal" data-bs-target="#modalEducation">
                           <i class="fa-solid fa-graduation-cap fa-xl aadmin-iconos"></i>
                         </button></div>
            </div>
          </div>
          <!--grupo 3-->
          <div class="row g-2 lg-3 mt-3">
            <div class="col">
              <div class="p-2 "><button type="button" class="btn list-group-item btn-lg p-5" data-bs-toggle="modal" data-bs-target="#modalSkills">
                           <i class="fa-solid fa-laptop-code fa-xl aadmin-iconos"></i>
                         </button></div>
            </div>
            <div class="col">
              <div class="p-2 "><button type="button" class="btn list-group-item btn-lg p-5" data-bs-toggle="modal" data-bs-target="#modalProjects">
                           <i class="fa-solid fa-lightbulb fa-xl aadmin-iconos"></i>
                         </button></div>
            </div>
            <div class="col">
              <div class="p-2 "><button type="button" class="btn list-group-item btn-lg p-5" data-bs-toggle="modal" data-bs-target="#modalContactme">
                           <i class="fa-solid fa-comment fa-lg fa-xl aadmin-iconos"></i>
                         </button></div>
            </div>
          </div>
          
      </div>
      <app-footer></app-footer>
</section>

<!--MODALES-->
<!-- REDES Modal -->
<app-modalredes></app-modalredes>

<!--PORTADA-->
<app-modalportada></app-modalportada>

<!--ABOUT ME-->
<app-modalaboutme></app-modalaboutme>

<!--TEACHING-->
<app-modalteaching></app-modalteaching>

<!--DESIGN-->
<app-modaldesign></app-modaldesign>

<!--EDUCATION-->
<app-modaleducation></app-modaleducation>

<!--SKILLS-->
<app-modalskills></app-modalskills>

<!--PROJECTS-->
<app-modalprojects></app-modalprojects>

<!--CONTACT ME-->
<app-modalcontactme></app-modalcontactme>