<!---EXPERIENCIA TEACHING-->
<div class="container justify-content-center">
    <h3 class="titulo-centrado">Teaching experience</h3>
    <div class="row justify-content-center">
      <div class="experience-col col-xs-2 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <strong>GoINTEC <i>(Ministerio de Educación C.A.B.A.)</i></strong>
        <div class="row"><p class="fechas">2011 - actualidad</p></div>
      </div>
      <div class="experience col-xs-10 col-sm-6 col-md-8 col-lg-8 col-xl-9">
        <p><i>
          Soy facilitadora pedagógico digital en nivel primario. Trabajo como par pedagógico del docente, planificando 
          conjuntamente diversas actividades con incorporación de TIC.<br>
          Capacito a niños y a adultos en el uso de las herramientas necesarias para los diferentes dispositivos y 
          web.
        </i></p>
      </div>
    </div>
    <hr>
    <div class="row justify-content-center">
      <div class="experience-col col-xs-2 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <strong>Escuela Dr.Hertz - Iona</strong>
        <div class="row"><p class="fechas">2021 - actualidad</p></div>
      </div>
      <div class="experience col-xs-10 col-sm-6 col-md-8 col-lg-8 col-xl-9">
        <p><i>
          Profesora de computación, programación y robótica de niños de 3 a 5 años.<br>
          Enseñando pensamiento computacional, programación por bloques y otras aplicaciones. <br>
          En en área de robótica, utilizando los equipos de Matatalab.
        </i></p>
      </div>
    </div>    
    <hr>
    <div class="row justify-content-center">
      <div class="experience-col col-xs-2 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <strong>Escuela Tel Aviv</strong>
        <div class="row"><p class="fechas">2008 - 2018</p></div>
      </div>
      <div class="experience col-xs-10 col-sm-6 col-md-8 col-lg-8 col-xl-9">
        <p><i>
          Docente de hebreo nivel primario. Enseñanza de la lectoescritura en el idioma. Armado de libros para practicar.
        </i></p>
      </div>
    </div>
    <hr>
    <div class="row justify-content-center">
      <div class="experience-image-col col-xs-2 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <strong>Asociación Amigos de la Astronomía</strong>
        <div class="row"><p class="fechas">2000 - 2015</p></div>
      </div>
      <div class="experience col-xs-10 col-sm-6 col-md-8 col-lg-8 col-xl-9">
        <p><i>
          Investigación en fotografía electrónica (Meade). Visitas 
          astronómicas guiadas para público general. Atención contingentes escolares (visitas educativas).
        </i></p>
      </div>
    </div>
  </div>