<!--Modal SKILLS-->
<div class="modal fade" id="modalProjects" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  <!----------------------------------->
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModal"></h5>
  
  
        <div class="container">

<!--PROJECTS-->
  <!--PROJECT 1-->
  <div class="row">
    <div class="col">
      <div class="modal-body">
        <form>
            <div class="mb-3">
              <label for="proyectoUnoImax" class="form-label">Imagen 1</label>
              <input type="file" class="form-control" id="proyectoUnoImax" placeholder="imagen">
            </div>
            <div class="mb-3">
              <label for="proyectoUno" class="form-label">Proyecto 1</label>
              <input type="text" class="form-control" id="proyectoUno">
            </div>
            <div class="mb-3">
              <label for="proyectoUnoDescrip" class="form-label">Descripción 1</label>
              <textarea class="text w-100" id="proyectoUnoDescrip" style="overflow:auto;" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label for="proyectoUnoDemo" class="form-label">Demo 1</label>
              <input type="text" class="form-control" id="proyectoUnoDemo" placeholder="URL live demo">
            </div>
            <div class="mb-3">
              <label for="proyectoUnoRepo" class="form-label">Repo 1</label>
              <input type="text" class="form-control" id="proyectoUnoRepo" placeholder="URL repositorio">
            </div>
          </form>
             <div class="text-center">
               <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
               <button type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
               <button type="button" class="btn"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
               <button type="button" class="btn"><i class="fa-solid fa-xmark"></i></button>
             </div>
      </div>
<!----------------------------------->                
       <!--<div class="modal-footer">
        <button type="button" class="btn" data-bs-target="#my-modal" data-bs-dismiss="modal"><a routerLink="/aadmin"><i class="fa-solid fa-circle-xmark"></i></a></button>
        <button type="button" class="btn"><a routerLink="/aadmin"><i class="fa-solid fa-circle-check"></i></a></button>
       </div>-->
    </div>
  </div>

    <!--PROJECT 2-->
    <div class="row">
        <div class="col">
          <div class="modal-body">
            <form>
                <div class="mb-3">
                    <label for="proyectoDosImax" class="form-label">Imagen 2</label>
                    <input type="file" class="form-control" id="proyectoDosImax" placeholder="imagen">
                  </div>
                <div class="mb-3">
                  <label for="proyectoDos" class="form-label">Proyecto 2</label>
                  <input type="text" class="form-control" id="proyectoDos">
                </div>
                <div class="mb-3">
                  <label for="proyectoDosDescrip" class="form-label">Descripción 2</label>
                  <textarea class="text w-100" id="proyectoDosDescrip" style="overflow:auto;" rows="3"></textarea>
                </div>
                <div class="mb-3">
                  <label for="proyectoDosDemo" class="form-label">Demo 2</label>
                  <input type="text" class="form-control" id="proyectoDosDemo" placeholder="URL live demo">
                </div>
                <div class="mb-3">
                  <label for="proyectoDosRepo" class="form-label">Repo 2</label>
                  <input type="text" class="form-control" id="proyectoDosRepo" placeholder="URL repositorio">
                </div>
              </form>
                 <div class="text-center">
                   <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
                   <button type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
                   <button type="button" class="btn"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                   <button type="button" class="btn"><i class="fa-solid fa-xmark"></i></button>
                 </div>
          </div>
    <!----------------------------------->                
           <!--<div class="modal-footer">
            <button type="button" class="btn" data-bs-target="#my-modal" data-bs-dismiss="modal"><a routerLink="/aadmin"><i class="fa-solid fa-circle-xmark"></i></a></button>
            <button type="button" class="btn"><a routerLink="/aadmin"><i class="fa-solid fa-circle-check"></i></a></button>
           </div>-->
        </div>
      </div>

    <!--PROJECT 3-->
    <div class="row">
        <div class="col">
          <div class="modal-body">
            <form>
                <div class="mb-3">
                    <label for="proyectoTresImax" class="form-label">Imagen 3</label>
                    <input type="file" class="form-control" id="proyectoTresImax" placeholder="imagen">
                  </div>
                <div class="mb-3">
                  <label for="proyectoTres" class="form-label">Proyecto 3</label>
                  <input type="text" class="form-control" id="proyectoTres">
                </div>
                <div class="mb-3">
                  <label for="proyectoTresDescrip" class="form-label">Descripción 3</label>
                  <textarea class="text w-100" id="proyectoTresDescrip" style="overflow:auto;" rows="3"></textarea>
                </div>
                <div class="mb-3">
                  <label for="proyectoTresDemo" class="form-label">Demo 3</label>
                  <input type="text" class="form-control" id="proyectoTresDemo" placeholder="URL live demo">
                </div>
                <div class="mb-3">
                  <label for="proyectoTresRepo" class="form-label">Repo 3</label>
                  <input type="text" class="form-control" id="proyectoTresRepo" placeholder="URL repositorio">
                </div>
              </form>
                 <div class="text-center">
                   <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
                   <button type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
                   <button type="button" class="btn"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                   <button type="button" class="btn"><i class="fa-solid fa-xmark"></i></button>
                 </div>
          </div>
    <!----------------------------------->                
           <!--<div class="modal-footer">
            <button type="button" class="btn" data-bs-target="#my-modal" data-bs-dismiss="modal"><a routerLink="/aadmin"><i class="fa-solid fa-circle-xmark"></i></a></button>
            <button type="button" class="btn"><a routerLink="/aadmin"><i class="fa-solid fa-circle-check"></i></a></button>
           </div>-->
        </div>
      </div>         

 <!--cierre contenedor--> 
          </div>
  
  
  