<!--Modal SKILLS-->
<div class="modal fade" id="modalSkills" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
  <!----------------------------------->
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModal"></h5>
        </div>
  
        <div class="container">
<!--FRONTEND-->
  <!--FRONTEND 1-->
             <div class="row">
               <div class="col">
                <form name="skillsForm">

                  <div class="modal-body">
                    
                        <div class="mb-3">
                          <!-- <i class="fa-brands fa-html5"></i> -->
                          <label for="habilidadSkills" class="form-label"><i>Habilidad</i></label>                     
                          <input type="text" class="form-control" id="habilidadSkills">
                        </div>
                        <div class="mb-3">
                          <label for="porcentajeSkills" class="form-label"><i>Porcentaje</i></label>
                          <input type="text" class="form-control" id="porcentajeSkills">
                        </div>

                        <select class="form-select" id="skillId">
                          <option selected>Seleccionar color Skill</option>
                          <option value="1">ID1 color frontend</option>
                          <option value="2">ID2 color backend</option>
                          <option value="3">ID3 color diseño</option>
                          <option value="4">ID4 color idiomas</option>
                        </select>

                 </div>
                 <!--cierre body del modal-->
                 <div class="text-center">
                  <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
                  <button type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
                  <button type="button" class="btn"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                  <button type="submit" class="btn"><i class="fa-solid fa-circle-check"></i></button>
                  <button type="button" class="btn"><i class="fa-solid fa-xmark"></i></button>
                </div>
                </form>

               </div>
             </div>
  

      </div>
    </div>
  </div>
 <!--cierre contenedor--> 
</div>
  
  
  