<!--Modal PORTADA-->
<div class="modal fade" id="modalPortada" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
<!----------------------------------->
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModal"></h5>
        </div>

        <div class="container-fluid">
         <div class="login-base">
           <div class="contenido-login">
             <div class="row">
               <div class="col armado-login">
                <form name="portadaForm">

                  <div class="modal-body">
                    
                        <div class="mb-3">
                          <label for="portadaImagen" class="form-label">Imagen de portada</label>
                          <input type="file" class="form-control" id="portadaImagen" placeholder="Ruta de la nueva imagen">
                        </div>
                        <div class="mb-3">
                          <label for="portadaIntro" class="form-label">Texto intro</label>
                          <textarea class="form-control" id="portadaIntro" style="height: 195px"></textarea>
                        </div>
                  </div>
                <!--cierre body del modal-->
                  <div class="text-center">
                    <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
                    <button type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
                    <button type="button" class="btn"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                    <button type="submit" class="btn"><i class="fa-solid fa-circle-check"></i></button>
                    <button type="button" class="btn"><i class="fa-solid fa-xmark"></i></button>
                  </div>
<!----------------------------------->                
                  <!--<div class="modal-footer">
                   <button type="button" class="btn" data-bs-target="#my-modal" data-bs-dismiss="modal"><a routerLink="/aadmin"><i class="fa-solid fa-circle-xmark"></i></a></button>
                   <button type="button" class="btn"><a routerLink="/aadmin"><i class="fa-solid fa-circle-check"></i></a></button>
                  </div>-->
                </form>
               </div>
             </div>
           </div>
         </div>
        </div>
  
    </div>
  </div>
</div>