<!--Modal DESIGN-->
<div class="modal fade" id="modalDesign" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  <!----------------------------------->
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModal"></h5>
  
  
        <div class="container">
  <!--CARGO 1-->
             <div class="row">
               <div class="col">
                 <div class="modal-body">
                  <form>
                    <div class="mb-3 form-group">
                      <label for="cargoUno" class="form-label"><strong>Cargo 1</strong></label>
                      <input type="text" class="form-control" id="cargoUno">
                    </div>
                    <div class="mb-3 form-group">
                      <label for="fechaUno" class="form-label">Inicio - Fin</label>
                      <input type="text" class="form-control" id="fechaUno">
                    </div>
                    <div class="mb-3 form-group">
                      <label for="lugarUno" class="form-label">Lugar</label>
                      <input type="text" class="form-control" id="lugarUno">
                    </div>
                    <div class="mb-3 form-group">
                      <label for="descripcionUno" class="form-label">Descripción</label>
                      <textarea class="text w-100" id="descripcionUno" style="overflow:auto;" rows="7"></textarea>
                    </div>
                  </form>
                        <div class="text-center">
                          <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
                          <button type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
                          <button type="button" class="btn"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                          <button type="button" class="btn"><i class="fa-solid fa-xmark"></i></button>
                        </div>
                 </div>
  <!----------------------------------->                
                  <!--<div class="modal-footer">
                   <button type="button" class="btn" data-bs-target="#my-modal" data-bs-dismiss="modal"><a routerLink="/aadmin"><i class="fa-solid fa-circle-xmark"></i></a></button>
                   <button type="button" class="btn"><a routerLink="/aadmin"><i class="fa-solid fa-circle-check"></i></a></button>
                  </div>-->
               </div>
             </div>
  
  <!--CARGO 2-->
             <div class="row">
              <div class="col">
                <div class="modal-body">
                  <form>
                    <div class="mb-3">
                      <label for="cargoDos" class="form-label"><strong>Cargo 2</strong></label>
                      <input type="text" class="form-control" id="cargoDos">
                    </div>
                    <div class="mb-3">
                      <label for="fechaDos" class="form-label">Inicio - Fin</label>
                      <input type="text" class="form-control" id="fechaDos">
                    </div>
                    <div class="mb-3">
                      <label for="lugarDos" class="form-label">Lugar</label>
                      <input type="text" class="form-control" id="lugarDos">
                    </div>
                    <div class="mb-3">
                      <label for="descripcionDos" class="form-label">Descripción</label>
                      <textarea class="text w-100" id="descripcionDos" style="overflow:auto;" rows="7"></textarea>
                    </div>
                  </form>
                       <div class="text-center">
                         <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
                         <button type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
                         <button type="button" class="btn"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                         <button type="button" class="btn"><i class="fa-solid fa-xmark"></i></button>
                       </div>
                </div>
  <!----------------------------------->                
                 <!--<div class="modal-footer">
                  <button type="button" class="btn" data-bs-target="#my-modal" data-bs-dismiss="modal"><a routerLink="/aadmin"><i class="fa-solid fa-circle-xmark"></i></a></button>
                  <button type="button" class="btn"><a routerLink="/aadmin"><i class="fa-solid fa-circle-check"></i></a></button>
                 </div>-->
              </div>
            </div>
  
  <!--CARGO 3-->
            <div class="row">
              <div class="col">
                <div class="modal-body">
                  <form>
                    <div class="mb-3">
                      <label for="cargoTres" class="form-label"><strong>Cargo 3</strong></label>
                      <input type="text" class="form-control" id="cargoTres">
                    </div>
                    <div class="mb-3">
                      <label for="fechaTres" class="form-label">Inicio - Fin</label>
                      <input type="text" class="form-control" id="fechaTres">
                    </div>
                    <div class="mb-3">
                      <label for="lugarTres" class="form-label">Lugar</label>
                      <input type="text" class="form-control" id="lugarTres">
                    </div>
                    <div class="mb-3">
                      <label for="descripcion" class="form-label">Descripción</label>
                      <textarea class="text w-100" id="descripcion" style="overflow:auto;" rows="7"></textarea>
                    </div>
                  </form>
                       <div class="text-center">
                         <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
                         <button type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
                         <button type="button" class="btn"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                         <button type="button" class="btn"><i class="fa-solid fa-xmark"></i></button>
                       </div>
                </div>
            <!----------------------------------->                
                 <!--<div class="modal-footer">
                  <button type="button" class="btn" data-bs-target="#my-modal" data-bs-dismiss="modal"><a routerLink="/aadmin"><i class="fa-solid fa-circle-xmark"></i></a></button>
                  <button type="button" class="btn"><a routerLink="/aadmin"><i class="fa-solid fa-circle-check"></i></a></button>
                 </div>-->
              </div>
            </div>
  
  <!--CARGO 4
            <div class="row">
    <div class="col">
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="cargoCuatro" class="form-label"><strong>Cargo 4</strong></label>
            <input type="text" class="form-control" id="cargoCuatro">
          </div>
          <div class="mb-3">
            <label for="fechaCuatro" class="form-label">Inicio - Fin</label>
            <input type="text" class="form-control" id="fechaCuatro">
          </div>
          <div class="mb-3">
            <label for="lugarCuatro" class="form-label">Lugar</label>
            <input type="text" class="form-control" id="lugarCuatro">
          </div>
          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea class="text w-100" id="descripcion" style="overflow:auto;" rows="7"></textarea>
          </div>
        </form>
             <div class="text-center">
               <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
               <button type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
               <button type="button" class="btn"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
               <button type="button" class="btn"><i class="fa-solid fa-xmark"></i></button>
             </div>
      </div>-->
  <!----------------------------------->                
       <!--<div class="modal-footer">
        <button type="button" class="btn" data-bs-target="#my-modal" data-bs-dismiss="modal"><a routerLink="/aadmin"><i class="fa-solid fa-circle-xmark"></i></a></button>
        <button type="button" class="btn"><a routerLink="/aadmin"><i class="fa-solid fa-circle-check"></i></a></button>
       </div>-->
    </div>
            </div>
  
          </div>
  
  
  