<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
  
  
          <!--CONTACT ME-->
          <div class="container-fluid">
              <div class="login-base">
                <div class="contenido-login">
                  <div class="row">
                  
                    <div class="col armado-login contact">
                      <div class="modal-body">
                        <p><i><strong>Si querés contactarme o dejarme algún comentario, te invito a completar este formulario. ¡Muchas gracias!</strong></i></p>
                          <form>
                            <div class="mb-3">
                              <label for="NombreContact" class="form-label">*Nombre</label>
                              <input type="text" class="form-control" id="NombreContact" placeholder="Ej: Steve Jobs" aria-describedby="nombreHelp">
                            </div>
                            <div class="mb-3">
                              <label for="EmailContact" class="form-label">*E-mail</label>
                              <input type="email" class="form-control" id="EmailContact" placeholder="Ej: email@correo.com" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                              <label for="MensajeContact" class="form-label">*Mensaje</label>
                              <textarea class="text w-100" id="MensajeContact" style="overflow:auto;" rows="7" placeholder=" ¡Dejame tu mensaje!"></textarea>
                              <small><i>*Campos requeridos</i></small>
                            </div>
                          </form>
                      </div>
                    
                      <div class="modal-footer">
                        <button type="button" class="btn-form-cierre" data-bs-dismiss="modal" data-bs-target="#my-modal"><i class="fa-solid fa-circle-xmark"></i></button>
                        <button type="button" class="btn-form-cierre"><i class="fa-solid fa-circle-check"></i></button>
                        </div>
                    </div>
                  
                  </div>
                </div>
              </div>
          </div>