<!---ABOUT ME-->
<div class="container bio arriba" id="home">
    <h3 class="titulo-centrado">Something about me</h3>
    <div class="row justify-content-center">
      <div class="bio-image-col col-xs-3 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <img class="rounded-circle img-fluid" src="assets/images/fotoBio2.jpg" alt="Karin">
      </div>
      <div class="col-xs-10 col-sm-6 col-md-8 col-lg-8 col-xl-9">
      <p><i>
        ¡Hola! <br>
        Yo soy Karin. Me apasiona aprender y enseñar, la tecnología, el diseño y la astronomía.<br>
        Mi meta es crecer y afianzarme profesionalmente como <strong>Desarrolladora Web Full Stack</strong>.<br>
        Busco formarme, estar actualizada, utilizando lo aprendido.<br>
        Soy una persona curiosa, responsable, creativa, empática, ávida por aprender y descubrir soluciones nuevas.<br>
        Me gustaría ser parte de un equipo y proyectos que me permitan seguir desarrollándome como profesional, mejorar mis habilidades 
        y colaborar para lograr los objetivos. <br>
    </i></p>
    </div>
    </div>
  </div>