<!--Modal SKILLS-->
<div class="modal fade" id="modalSkills" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  <!----------------------------------->
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModal"></h5>
  
  
        <div class="container">
<!--FRONTEND-->
  <!--FRONTEND 1-->
             <div class="row">
               <div class="col">
                 <div class="modal-body">
                    <form>
                        <div class="mb-3">
                          <i class="fa-brands fa-html5"></i>
                          <label for="habilidadUnoFrEnd" class="form-label">Habilidad 1 FrontEnd</label>                     
                          <input type="text" class="form-control" id="habilidadUnoFrEnd">
                        </div>
                        <div class="mb-3">
                          <label for="porcentajeUnoFrEnd" class="form-label">Porcentaje 1 FrontEnd</label>
                          <input type="text" class="form-control" id="porcentajeUnoFrEnd">
                        </div>
                      </form>
                        <div class="text-center">
                          <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
                          <button type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
                          <button type="button" class="btn"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                          <button type="button" class="btn"><i class="fa-solid fa-xmark"></i></button>
                        </div>
                 </div>
  <!----------------------------------->                
                  <!--<div class="modal-footer">
                   <button type="button" class="btn" data-bs-target="#my-modal" data-bs-dismiss="modal"><a routerLink="/aadmin"><i class="fa-solid fa-circle-xmark"></i></a></button>
                   <button type="button" class="btn"><a routerLink="/aadmin"><i class="fa-solid fa-circle-check"></i></a></button>
                  </div>-->
               </div>
             </div>
  
  <!--FRONTEND 2-->
             <div class="row">
              <div class="col">
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                          <i class="fa-brands fa-html5"></i>
                          <label for="habilidadDosFrEnd" class="form-label">Habilidad 2 FrontEnd</label>                     
                          <input type="text" class="form-control" id="habilidadDosFrEnd">
                        </div>
                        <div class="mb-3">
                          <label for="porcentajeDosFrEnd" class="form-label">Porcentaje 2 FrontEnd</label>
                          <input type="text" class="form-control" id="porcentajeDosFrEnd">
                        </div>
                      </form>
                       <div class="text-center">
                         <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
                         <button type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
                         <button type="button" class="btn"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                         <button type="button" class="btn"><i class="fa-solid fa-xmark"></i></button>
                       </div>
                </div>
  <!----------------------------------->                
                 <!--<div class="modal-footer">
                  <button type="button" class="btn" data-bs-target="#my-modal" data-bs-dismiss="modal"><a routerLink="/aadmin"><i class="fa-solid fa-circle-xmark"></i></a></button>
                  <button type="button" class="btn"><a routerLink="/aadmin"><i class="fa-solid fa-circle-check"></i></a></button>
                 </div>-->
              </div>
            </div>

<!--FRONTEND 3-->
            <div class="row">
                <div class="col">
                  <div class="modal-body">
                    <form>
                        <div class="mb-3">
                          <i class="fa-brands fa-html5"></i>
                          <label for="habilidadTresFrEnd" class="form-label">Habilidad 3 FrontEnd</label>                     
                          <input type="text" class="form-control" id="habilidadTresFrEnd">
                        </div>
                        <div class="mb-3">
                          <label for="porcentajeTresFrEnd" class="form-label">Porcentaje 3 FrontEnd</label>
                          <input type="text" class="form-control" id="porcentajeTresFrEnd">
                        </div>
                      </form>
                         <div class="text-center">
                           <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
                           <button type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
                           <button type="button" class="btn"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                           <button type="button" class="btn"><i class="fa-solid fa-xmark"></i></button>
                         </div>
                  </div>
            <!----------------------------------->                
                   <!--<div class="modal-footer">
                    <button type="button" class="btn" data-bs-target="#my-modal" data-bs-dismiss="modal"><a routerLink="/aadmin"><i class="fa-solid fa-circle-xmark"></i></a></button>
                    <button type="button" class="btn"><a routerLink="/aadmin"><i class="fa-solid fa-circle-check"></i></a></button>
                   </div>-->
                </div>
              </div>

<!--FRONTEND 4-->
            <div class="row">
                <div class="col">
                  <div class="modal-body">
                    <form>
                        <div class="mb-3">
                          <i class="fa-brands fa-html5"></i>
                          <label for="habilidadCuatroFrEnd" class="form-label">Habilidad 4 FrontEnd</label>                     
                          <input type="text" class="form-control" id="habilidadCuatroFrEnd">
                        </div>
                        <div class="mb-3">
                          <label for="porcentajeCuatroFrEnd" class="form-label">Porcentaje 4 FrontEnd</label>
                          <input type="text" class="form-control" id="porcentajeCuatroFrEnd">
                        </div>
                      </form>
                         <div class="text-center">
                           <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
                           <button type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
                           <button type="button" class="btn"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                           <button type="button" class="btn"><i class="fa-solid fa-xmark"></i></button>
                         </div>
                  </div>
            <!----------------------------------->                
                   <!--<div class="modal-footer">
                    <button type="button" class="btn" data-bs-target="#my-modal" data-bs-dismiss="modal"><a routerLink="/aadmin"><i class="fa-solid fa-circle-xmark"></i></a></button>
                    <button type="button" class="btn"><a routerLink="/aadmin"><i class="fa-solid fa-circle-check"></i></a></button>
                   </div>-->
                </div>
              </div>

<!--FRONTEND 5-->
            <div class="row">
                <div class="col">
                  <div class="modal-body">
                    <form>
                        <div class="mb-3">
                          <i class="fa-brands fa-html5"></i>
                          <label for="habilidadCincoFrEnd" class="form-label">Habilidad 5 FrontEnd</label>                     
                          <input type="text" class="form-control" id="habilidadCincoFrEnd">
                        </div>
                        <div class="mb-3">
                          <label for="porcentajeCincoFrEnd" class="form-label">Porcentaje 5 FrontEnd</label>
                          <input type="text" class="form-control" id="porcentajeCincoFrEnd">
                        </div>
                      </form>
                         <div class="text-center">
                           <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
                           <button type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
                           <button type="button" class="btn"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                           <button type="button" class="btn"><i class="fa-solid fa-xmark"></i></button>
                         </div>
                  </div>
<!----------------------------------->                
       <!--<div class="modal-footer">
        <button type="button" class="btn" data-bs-target="#my-modal" data-bs-dismiss="modal"><a routerLink="/aadmin"><i class="fa-solid fa-circle-xmark"></i></a></button>
        <button type="button" class="btn"><a routerLink="/aadmin"><i class="fa-solid fa-circle-check"></i></a></button>
       </div>-->
    </div>
              </div>

<!--BACKEND 1-->
<div class="row">
    <div class="col">
      <div class="modal-body">
        <form>
            <div class="mb-3">
              <i class="fa-brands fa-html5"></i>
              <label for="habilidadUnoBkEnd" class="form-label">Habilidad 1 BackEnd</label>                     
              <input type="text" class="form-control" id="habilidadUnoBkEnd">
            </div>
            <div class="mb-3">
              <label for="porcentajeUnoBkEnd" class="form-label">Porcentaje 1 BackEnd</label>
              <input type="text" class="form-control" id="porcentaUnoBkFrEnd">
            </div>
          </form>
             <div class="text-center">
               <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
               <button type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
               <button type="button" class="btn"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
               <button type="button" class="btn"><i class="fa-solid fa-xmark"></i></button>
             </div>
      </div>
<!----------------------------------->                
       <!--<div class="modal-footer">
        <button type="button" class="btn" data-bs-target="#my-modal" data-bs-dismiss="modal"><a routerLink="/aadmin"><i class="fa-solid fa-circle-xmark"></i></a></button>
        <button type="button" class="btn"><a routerLink="/aadmin"><i class="fa-solid fa-circle-check"></i></a></button>
       </div>-->
    </div>
  </div>

<!--DISEÑO-->
  <!--DISEÑO 1-->
  <div class="row">
    <div class="col">
      <div class="modal-body">
        <form>
            <div class="mb-3">
              <i class="fa-brands fa-html5"></i>
              <label for="habilidadUnoDesign" class="form-label">Habilidad 1 Diseño</label>                     
              <input type="text" class="form-control" id="habilidadUnoDesign">
            </div>
            <div class="mb-3">
              <label for="porcentajeUnoDesign" class="form-label">Porcentaje 1 Diseño</label>
              <input type="text" class="form-control" id="porcentajeUnoDesign">
            </div>
          </form>
             <div class="text-center">
               <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
               <button type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
               <button type="button" class="btn"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
               <button type="button" class="btn"><i class="fa-solid fa-xmark"></i></button>
             </div>
      </div>
<!----------------------------------->                
       <!--<div class="modal-footer">
        <button type="button" class="btn" data-bs-target="#my-modal" data-bs-dismiss="modal"><a routerLink="/aadmin"><i class="fa-solid fa-circle-xmark"></i></a></button>
        <button type="button" class="btn"><a routerLink="/aadmin"><i class="fa-solid fa-circle-check"></i></a></button>
       </div>-->
    </div>
  </div>

<!--DISEÑO 2-->
  <div class="row">
   <div class="col">
     <div class="modal-body">
        <form>
            <div class="mb-3">
              <i class="fa-brands fa-html5"></i>
              <label for="habilidadDosDesign" class="form-label">Habilidad 2 Diseño</label>                     
              <input type="text" class="form-control" id="habilidadDosDesign">
            </div>
            <div class="mb-3">
              <label for="porcentajeDosDesign" class="form-label">Porcentaje 2 Diseño</label>
              <input type="text" class="form-control" id="porcentajeDosDesign">
            </div>
          </form>
            <div class="text-center">
              <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
              <button type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
              <button type="button" class="btn"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
              <button type="button" class="btn"><i class="fa-solid fa-xmark"></i></button>
            </div>
     </div>
<!----------------------------------->                
      <!--<div class="modal-footer">
       <button type="button" class="btn" data-bs-target="#my-modal" data-bs-dismiss="modal"><a routerLink="/aadmin"><i class="fa-solid fa-circle-xmark"></i></a></button>
       <button type="button" class="btn"><a routerLink="/aadmin"><i class="fa-solid fa-circle-check"></i></a></button>
      </div>-->
   </div>
 </div>

<!--DISEÑO 3-->
 <div class="row">
     <div class="col">
       <div class="modal-body">
        <form>
            <div class="mb-3">
              <i class="fa-brands fa-html5"></i>
              <label for="habilidadTresDesign" class="form-label">Habilidad 3 Diseño</label>                     
              <input type="text" class="form-control" id="habilidadTresDesign">
            </div>
            <div class="mb-3">
              <label for="porcentajeTresDesign" class="form-label">Porcentaje 3 Diseño</label>
              <input type="text" class="form-control" id="porcentajeTresDesign">
            </div>
          </form>
              <div class="text-center">
                <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
                <button type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
                <button type="button" class="btn"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                <button type="button" class="btn"><i class="fa-solid fa-xmark"></i></button>
              </div>
       </div>
 <!----------------------------------->                
        <!--<div class="modal-footer">
         <button type="button" class="btn" data-bs-target="#my-modal" data-bs-dismiss="modal"><a routerLink="/aadmin"><i class="fa-solid fa-circle-xmark"></i></a></button>
         <button type="button" class="btn"><a routerLink="/aadmin"><i class="fa-solid fa-circle-check"></i></a></button>
        </div>-->
     </div>
   </div>

<!--IDIOMAS-->
  <!--IDIOMA 1-->
  <div class="row">
    <div class="col">
      <div class="modal-body">
        <form>
            <div class="mb-3">
              <i class="fa-brands fa-html5"></i>
              <label for="habilidadUnoIdiomas" class="form-label">Habilidad 1 Idiomas</label>                     
              <input type="text" class="form-control" id="habilidadUnoIdiomas">
            </div>
            <div class="mb-3">
              <label for="porcentajeUnoIdiomas" class="form-label">Porcentaje 1 Idiomas</label>
              <input type="text" class="form-control" id="porcentajeUnoIdiomas">
            </div>
          </form>
             <div class="text-center">
               <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
               <button type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
               <button type="button" class="btn"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
               <button type="button" class="btn"><i class="fa-solid fa-xmark"></i></button>
             </div>
      </div>
<!----------------------------------->                
       <!--<div class="modal-footer">
        <button type="button" class="btn" data-bs-target="#my-modal" data-bs-dismiss="modal"><a routerLink="/aadmin"><i class="fa-solid fa-circle-xmark"></i></a></button>
        <button type="button" class="btn"><a routerLink="/aadmin"><i class="fa-solid fa-circle-check"></i></a></button>
       </div>-->
    </div>
  </div>

<!--IDIOMA 2-->
  <div class="row">
   <div class="col">
     <div class="modal-body">
        <form>
            <div class="mb-3">
              <i class="fa-brands fa-html5"></i>
              <label for="habilidadDosIdiomas" class="form-label">Habilidad 2 Idiomas</label>                     
              <input type="text" class="form-control" id="habilidadDosIdiomas">
            </div>
            <div class="mb-3">
              <label for="porcentajeDosIdiomas" class="form-label">Porcentaje 2 Idiomas</label>
              <input type="text" class="form-control" id="porcentajeDosIdiomas">
            </div>
          </form>
            <div class="text-center">
              <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
              <button type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
              <button type="button" class="btn"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
              <button type="button" class="btn"><i class="fa-solid fa-xmark"></i></button>
            </div>
     </div>
<!----------------------------------->                
      <!--<div class="modal-footer">
       <button type="button" class="btn" data-bs-target="#my-modal" data-bs-dismiss="modal"><a routerLink="/aadmin"><i class="fa-solid fa-circle-xmark"></i></a></button>
       <button type="button" class="btn"><a routerLink="/aadmin"><i class="fa-solid fa-circle-check"></i></a></button>
      </div>-->
   </div>
 </div>   

 <!--cierre contenedor--> 
          </div>
  
  
  