.caratula-intro{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: transparent !important;
    border:none !important;
    border-radius:none !important;
    box-shadow:none !important;
    -webkit-box-shadow:none !important;
    -moz-box-shadow:none !important;
  }

  .robot{
    max-height: 80%;
  }
