/*--CARDS PROJECTS--*/
.btn-project{
    margin-left: 1rem;
    margin-right:1rem;
  }
  .card-proy:hover{
    transform: translate(-0.438rem, -0.438rem);
    box-shadow: 0.063rem 0.375rem 0.875rem 0.152rem #69014bbf;
    -webkit-box-shadow: 0.063rem 0.375rem 0.875rem 0.152rem #af014bbf;
    -moz-box-shadow: 0.063rem 0.375rem 0.875rem 0.152rem #af014bbf;
    transition: .5s;
  }
  .proy-sep-abajo{
    margin-bottom: 5rem;
  }