<!---EDUCATION-->
<div class="container caja justify-content-center">
    <h3 class="titulo-centrado">Education</h3>
    <div *ngFor="let educs of education">
      <div class="row justify-content-center">

        <div class="col-xs-2 col-sm-6 col-md-4 col-lg-4 col-xl-3">
          <strong>{{educs.carrera}}</strong>
          <div class="row"><p class="fechas">{{educs.fechas}}</p></div>
        </div>
        <div class="col-xs-10 col-sm-6 col-md-8 col-lg-8 col-xl-9">
          <p><i><strong>{{educs.institucion}}</strong><br>{{educs.descripcion}}</i></p>
        </div>
      </div>
      <hr>
    </div>
  </div>  