<!--Modal PORTADA-->
<div class="modal fade" id="modalPortada" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
<!----------------------------------->
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModal"></h5>

        <div class="container-fluid">
         <div class="login-base">
           <div class="contenido-login">
             <div class="row">
               <div class="col armado-login">
                 <div class="modal-body">
                    <form>
                        <div class="mb-3">
                          <label for="portada" class="form-label">Imagen de portada</label>
                          <input type="file" class="form-control" id="portada" placeholder="Ruta de la nueva imagen">
                        </div>
                        <div class="mb-3">
                          <label for="intro" class="form-label">Texto intro</label>
                          <textarea class="form-control" id="intro" style="height: 195px"></textarea>
                        </div>
                        <div class="text-center">
                          <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
                          <button type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
                          <button type="button" class="btn"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                          <button type="button" class="btn"><i class="fa-solid fa-xmark"></i></button>
                        </div>
                      </form>
                 </div>
<!----------------------------------->                
                  <!--<div class="modal-footer">
                   <button type="button" class="btn" data-bs-target="#my-modal" data-bs-dismiss="modal"><a routerLink="/aadmin"><i class="fa-solid fa-circle-xmark"></i></a></button>
                   <button type="button" class="btn"><a routerLink="/aadmin"><i class="fa-solid fa-circle-check"></i></a></button>
                  </div>-->
               </div>
              
             </div>
           </div>
         </div>
        </div>
  
    </div>
  </div>
  </div>