<div class="modal fade" id="modalRegister" tabindex="-1" aria-labelledby="modalRegister" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

        <!--REGISTER-->

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModal"></h5>
          
        <div class="container-fluid">
         <div class="login-base">
           <div class="contenido-login">
             <div class="row">

               <div class="col armado-login">
                <form  [formGroup]="register_form" (ngSubmit)="onSubmit($event)">
                 <div class="modal-body">
                     
                       <div class="mb-3">
                         <label for="usernameRegistro" class="form-label col-12">Username</label>
                         <input type="text" formControlName="username" id="usernameRegistro" placeholder="Tus datos son confidenciales" aria-describedby="nombreHelp">
                       </div>
                       <div class="mb-3">
                         <label for="emailRegistro" class="form-label col-12">Email</label>
                         <input type="email" formControlName="email" id="emailRegistro" placeholder="Tus datos son confidenciales" aria-describedby="emailHelp">
                       </div>
                       <div class="mb-3">
                         <label for="passwordRegistro" class="form-label col-12">Password</label>
                         <input type="password" formControlName="password" id="passwordRegistro" placeholder="Tus datos son confidenciales" >
                       </div>
                 </div>

                  <div class="modal-footer">
                    <button type="button" class="btn" data-bs-dismiss="modal" data-bs-target="#my-modal"><i class="fa-solid fa-circle-xmark"></i></button>
                   <button type="submit" class="btn"><i class="fa-solid fa-circle-check"></i></button>
                   </div> 
                   <small>Si ya tenés cuenta, <a routerLink="/modalLogin">ingresá</a>.</small>
                  </form>
               </div>
             
             </div>
           </div>
          </div>
         </div>

    </div>
  </div>
</div>

<app-modallogin></app-modallogin>