
.caratula-intro{
    height: 100vh;
    background-color: transparent !important;
    border:none !important;
    border-radius:none !important;
    box-shadow:none !important;
    -webkit-box-shadow:none !important;
    -moz-box-shadow:none !important;
  }
  
  .intro{
    text-shadow: #69014b 0.188rem 0.125rem 0.63rem;
  }
  h1.intro{
    font-size: 3rem;
  }
  h3.intro{
    padding-top:30%;
  }
  /*---FIN INTRO---*/