a, a:hover{
    text-decoration: none;
    border: none;
  }

  /*---LOGIN MODAL---*/

.login-base{
    margin-top: 0;
  }
  
  .armado-login{
    margin-top: 15%;
  }
  .contact{
    margin-top: 10% !important;
  }
  input::placeholder{
    font-style: italic;
    font-size: .9em;
  }

  .list-group-item {
    position: relative;
    display: block;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    /*color: var(--bs-list-group-color);*/
    color: #505050;
    /* text-decoration: none; */
    background-color: var(--bs-list-group-bg);
    /* border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color); */
    border:none;
  }