/*---ADMIN---*/
.container-fluid-modal{
    text-align: left !important;
    width: 75%;
    margin-top: 7rem;
    padding-left: 3rem;
    background-color: transparent !important;
    border:none !important;
    border-radius:none !important;
    box-shadow:none !important;
    -webkit-box-shadow:none !important;
    -moz-box-shadow:none !important;
  }
  .admin-siguiente{
    margin-top: 3rem !important;
  }
  
  .admin{
    margin-top: 20px;
  }
  
  .links{
    text-decoration: none;
  }
  .yo-image{
    width: 50%;;
  }
  
  .fa-plus:hover{
    color:#f71aa6;
  }
  .fa-pencil:hover{
    color:#2c9011;
  }
  .fa-trash-can-arrow-up:hover{
    color:#ab0c0c;
  }
  .fa-xmark:hover{
    color:#f1ee06;
  }
  
  .btn-form-cierre{
    margin-top: -1.2rem;
    margin-left:1rem;
    text-decoration: none;
    background-color:transparent;
    border: none;
  }
  
  textarea::placeholder{
    font-style: italic;
    font-size: .9em;
  }
  
  
  /*---NAVEG LATERAL MENU---*/
  nav.vertical{
    float: left;
    margin-left: -1rem;
    margin-top: 4rem;
    align-items: center;
    position: fixed;
  }
  li.vertical{
    display:block;
    margin:0;
    writing-mode:vertical;
    padding:1rem;
    font-size:1.2rem;
  }
  a, a:hover{
    text-decoration: none;
  }
  
  .aadmin-iconos:hover{
    color:#2148f7;
  }

  .aadmin{
    margin-top: 7rem !important;
  }
  
  
  .aadmin-panel{
    width:70%;
    margin-bottom:15px;
    position:relative;
    
  }