<!--Modal LOGIN-->
<div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!--LOGIN-->
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModal"></h5>

        <div class="container-fluid">
         <div class="login-base">
           <div class="contenido-login">
             <div class="row">
               <div class="col armado-login">
                 <div class="modal-body">
                     <form>
                       <div class="mb-3">
                         <label for="InputEmail" class="form-label">Email</label>
                         <input type="email" class="form-control" id="InputEmail" placeholder="nombre@correo.com" aria-describedby="emailHelp">
                       </div>
                       <div class="mb-3">
                         <label for="InputPassword" class="form-label">Password</label>
                         <input type="password" class="form-control" id="InputPassword"placeholder="Ingresá tu contraseña" >
                       </div>
                     </form>
                 </div>
                
                  <div class="modal-footer">
                   <button type="button" class="btn" data-bs-target="#my-modal" data-bs-dismiss="modal"><a routerLink="/index"><i class="fa-solid fa-circle-xmark"></i></a></button>
                   <button type="button" class="btn"><a routerLink="/aadmin"><i class="fa-solid fa-circle-check"></i></a></button>
                  </div>
                  <div class="txt-small">
                   <small><i>Si no tenés cuenta, <strong><a routerLink="/modals/modalregister">registrate</a></strong>.</i></small>
                  </div>
               </div>
              
               
             </div>
           </div>
         </div>
        </div>
  
    </div>
  </div>
  </div>