<!--Modal TEACHING-->
<div class="modal fade" id="modalEducation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  <!----------------------------------->
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModal"></h5>
        
  
        <div class="container">
  <!--LUGAR 1-->
             <div class="row">
               <div class="col">
                 <div class="modal-body">
                    <form>
                        <div class="mb-3">
                          <label for="carreraUno" class="form-label"><strong>Carrera 1</strong></label>
                          <input type="text" class="form-control" id="carreraUno">
                        </div>
                        <div class="mb-3">
                          <label for="lugarUno" class="form-label">Institución</label>
                          <input type="text" class="form-control" id="lugarUno">
                        </div>
                        <div class="mb-3">
                          <label for="fechaUno" class="form-label">Inicio - Fin</label>
                          <input type="text" class="form-control" id="fechaUno">
                        </div>
                        <div class="mb-3">
                          <label for="descripcionUno" class="form-label">Descripción</label>
                          <textarea class="text w-100" id="descripcionUno" style="overflow:auto;" rows="7"></textarea>
                        </div>
                      </form>
                        <div class="text-center">
                          <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
                          <button type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
                          <button type="button" class="btn"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                          <button type="button" class="btn"><i class="fa-solid fa-xmark"></i></button>
                        </div>
                 </div>
  <!----------------------------------->                
                  <!--<div class="modal-footer">
                   <button type="button" class="btn" data-bs-target="#my-modal" data-bs-dismiss="modal"><a routerLink="/aadmin"><i class="fa-solid fa-circle-xmark"></i></a></button>
                   <button type="button" class="btn"><a routerLink="/aadmin"><i class="fa-solid fa-circle-check"></i></a></button>
                  </div>-->
               </div>
             </div>
  
  <!--LUGAR 2-->
             <div class="row">
              <div class="col">
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                          <label for="carreraDos" class="form-label"><strong>Carrera 2</strong></label>
                          <input type="text" class="form-control" id="carreraDos">
                        </div>
                        <div class="mb-3">
                          <label for="lugarDos" class="form-label">Institución</label>
                          <input type="text" class="form-control" id="lugarDos">
                        </div>
                        <div class="mb-3">
                          <label for="fechaDos" class="form-label">Inicio - Fin</label>
                          <input type="text" class="form-control" id="fechaDos">
                        </div>
                        <div class="mb-3">
                          <label for="descripcionDos" class="form-label">Descripción</label>
                          <textarea class="text w-100" id="descripcionDos" style="overflow:auto;" rows="7"></textarea>
                        </div>
                      </form>
                       <div class="text-center">
                         <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
                         <button type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
                         <button type="button" class="btn"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                         <button type="button" class="btn"><i class="fa-solid fa-xmark"></i></button>
                       </div>
                </div>
  <!----------------------------------->                
                 <!--<div class="modal-footer">
                  <button type="button" class="btn" data-bs-target="#my-modal" data-bs-dismiss="modal"><a routerLink="/aadmin"><i class="fa-solid fa-circle-xmark"></i></a></button>
                  <button type="button" class="btn"><a routerLink="/aadmin"><i class="fa-solid fa-circle-check"></i></a></button>
                 </div>-->
              </div>
            </div>
  
  <!--LUGAR 3-->
            <div class="row">
              <div class="col">
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                          <label for="carreraTres" class="form-label"><strong>Carrera 3</strong></label>
                          <input type="text" class="form-control" id="carreraTres">
                        </div>
                        <div class="mb-3">
                          <label for="lugarTres" class="form-label">Institución</label>
                          <input type="text" class="form-control" id="lugarTres">
                        </div>
                        <div class="mb-3">
                          <label for="fechaTres" class="form-label">Inicio - Fin</label>
                          <input type="text" class="form-control" id="fechaTres">
                        </div>
                        <div class="mb-3">
                          <label for="descripcionTres" class="form-label">Descripción</label>
                          <textarea class="text w-100" id="descripcionTres" style="overflow:auto;" rows="7"></textarea>
                        </div>
                      </form>
                       <div class="text-center">
                         <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
                         <button type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
                         <button type="button" class="btn"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                         <button type="button" class="btn"><i class="fa-solid fa-xmark"></i></button>
                       </div>
                </div>
            <!----------------------------------->                
                 <!--<div class="modal-footer">
                  <button type="button" class="btn" data-bs-target="#my-modal" data-bs-dismiss="modal"><a routerLink="/aadmin"><i class="fa-solid fa-circle-xmark"></i></a></button>
                  <button type="button" class="btn"><a routerLink="/aadmin"><i class="fa-solid fa-circle-check"></i></a></button>
                 </div>-->
              </div>
            </div>
  
  <!--LUGAR 4-->
            <div class="row">
                <div class="col">
                    <div class="modal-body">
                      <form>
                          <div class="mb-3">
                            <label for="carreraCuatro" class="form-label"><strong>Carrera 4</strong></label>
                            <input type="text" class="form-control" id="carreraCuatro">
                          </div>
                          <div class="mb-3">
                            <label for="lugarCuatro" class="form-label">Institución</label>
                            <input type="text" class="form-control" id="lugarCuatro">
                          </div>
                          <div class="mb-3">
                            <label for="fechaCuatro" class="form-label">Inicio - Fin</label>
                            <input type="text" class="form-control" id="fechaCuatro">
                          </div>
                          <div class="mb-3">
                            <label for="descripcionCuatro" class="form-label">Descripción</label>
                            <textarea class="text w-100" id="descripcionCuatro" style="overflow:auto;" rows="7"></textarea>
                          </div>
                        </form>
                           <div class="text-center">
                             <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
                             <button type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
                             <button type="button" class="btn"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                             <button type="button" class="btn"><i class="fa-solid fa-xmark"></i></button>
                           </div>
                    </div>
  <!----------------------------------->                
       <!--<div class="modal-footer">
        <button type="button" class="btn" data-bs-target="#my-modal" data-bs-dismiss="modal"><a routerLink="/aadmin"><i class="fa-solid fa-circle-xmark"></i></a></button>
        <button type="button" class="btn"><a routerLink="/aadmin"><i class="fa-solid fa-circle-check"></i></a></button>
       </div>-->
                </div>
            </div>
  
        </div>
  
  
  