<!--Modal CONTACT ME-->
<div class="modal fade" id="modalContactme" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
<!----------------------------------->
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModal"></h5>

        <div class="container-fluid">
         <div class="login-base">
           <div class="contenido-login">
             <div class="row">
               <div class="col armado-login">
                <form  [formGroup]="contact_form" (ngSubmit)="submit()">
                 <div class="modal-body">
                    
                        <div class="mb-3">
                          <label for="nombreContact" class="form-label col-12">Nombre</label>
                          <input type="text" formControlName="nombre" id="nombreContact" [class.border-danger]="MailInvalid" class="col-12">
                        </div>
                        <div *ngIf="Nombre?.errors  && Nombre?.touched" class="mb-4">    
                          <small *ngIf="Nombre?.hasError('required')" class="error text-small"><i>Por favor, escribí tu nombre.</i></small>
                         </div>
                        <div class="mb-3">
                          <label for="emailContact" class="form-label col-12">Email</label>
                          <input type="email" formControlName="email" id="emailContact" [class.border-danger]="MailInvalid" class="col-12">
                        </div>
                        <div *ngIf="Mail?.errors  && Mail?.touched" class="mb-4">    
                          <small *ngIf="Mail?.hasError('required')" class="error text-small"><i>El email es requerido.</i></small>
                          <small *ngIf="Mail?.hasError('email')" class="error text-small"><i>El formato del email debe ser válido.</i></small>
                         </div>
                        <div class="mb-3">
                          <label for="mensajeContact" class="form-label col-12">Mensaje</label>
                          <textarea  formControlName="mensaje" class="text w-100" id="mensajeContact" style="overflow:auto;" rows="7" [class.border-danger]="MailInvalid"></textarea>
                        </div>
                        <div *ngIf="Mensaje?.errors  && Mensaje?.touched" class="mb-4">    
                          <small *ngIf="Mensaje?.hasError('required')" class="error text-small"><i>Dejame tu mensaje. ¡Muchas gracias!</i></small>
                         </div>
                  </div>
                  <div class="modal-footer">
                  <button type="button" class="btn" data-bs-dismiss="modal" data-bs-target="#my-modal"><i class="fa-solid fa-circle-xmark"></i></button>
                  <button type="submit" class="btn" [disabled]="this.contact_form.invalid"><i class="fa-solid fa-circle-check"></i></button>
                  </div> 
                </form>
<!----------------------------------->                
                  <!--<div class="modal-footer">
                   <button type="button" class="btn" data-bs-target="#my-modal" data-bs-dismiss="modal"><a routerLink="/aadmin"><i class="fa-solid fa-circle-xmark"></i></a></button>
                   <button type="button" class="btn"><a routerLink="/aadmin"><i class="fa-solid fa-circle-check"></i></a></button>
                  </div>-->


                  


               </div>
              
             </div>
           </div>
         </div>
        </div>
  
    </div>
  </div>
  </div>
</div>