<!---EXPERIENCIA DESIGN-->
<div class="container justify-content-center">
    <h3 class="titulo-centrado">Graphic designer experience</h3>
    <div class="row justify-content-center">
      <div class="experience-col col-xs-2 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <strong>Tecno Design</strong>
        <div class="row"><p class="fechas">2020 - 2021</p></div>
      </div>
      <div class="experience col-xs-10 col-sm-6 col-md-8 col-lg-8 col-xl-9">
        <p><i>
          Cambios en el código del sitio. Apertura y manejo de redes sociales.
        </i></p>
      </div>
    </div>
    <hr>
    <div class="row justify-content-center">
      <div class="experience-col col-xs-2 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <strong>Trabajos varios</strong>
          <div class="row"><p class="fechas">1994 - actualidad</p></div>
      </div>
      <div class="experience col-xs-10 col-sm-6 col-md-8 col-lg-8 col-xl-9">
        <p><i>
          Trabajos varios de diseño: logotipos, sitios web, diseño editorial, entre otros.
        </i></p>
      </div>
    </div>    
    <hr>
    <div class="row justify-content-center">
      <div class="experience-col col-xs-2 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <strong>Asociación Amigos de la Astronomía</strong>
          <div class="row"><p class="fechas">2000 - 2015</p></div>
      </div>
      <div class="experience col-xs-10 col-sm-6 col-md-8 col-lg-8 col-xl-9">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          Autem praesentium perferendis blanditiis corporis pariatur molestias 
          unde aspernatur explicabo iste iure, aperiam exercitationem esse 
        </p>
      </div>
    </div>
  </div>