*{
  font-family: 'PT Sans', sans-serif;
  margin: 0px;
  padding:0px;
}

*, *:before, *:after {
box-sizing: border-box;
}

:root{
--bs-link-hover-color: #505050;
--bs-link-color: #505050;
}

body{
background-image:url(assets/images/painting3.jpg);
background-position: center center;
background-repeat:no-repeat;
background-attachment: fixed;
background-size:cover;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
-ms-background-size:cover;
--opacidad-negro: 0.5;
}

  /*--ICONOS NAVBAR--*/
  .fa-brands.fa-linkedin:hover,
  .fa-solid.fa-house:hover,
  .fa-brands.fa-github:hover,
  .fa-solid.fa-comment:hover,
  .fa-solid.fa-user-lock:hover,
  .fa-solid.fa-user:hover,
  .fa-solid.fa-user-lock:hover,
  .fa-solid.fa-right-to-bracket:hover{
    color: #f7a61a;
  }

/*--NAVEGACION--*/
a, a:hover{
  text-decoration: none;
}


/*--ICONOS FORMULARIOS--*/
.fa-circle-plus:hover{
  color:#f71aa6;
}
.fa-circle-check:hover{
  color:#2c9011;
}
.fa-circle-xmark:hover{
  color:#ab0c0c;
}
.btn-form-cierre{
  margin-top: -1.2rem;
  margin-left:1rem;
  text-decoration: none;
  background-color:transparent;
  border: none;
}

/*---CONTENEDORES---*/
.container{
  width:70%;
  margin-bottom:15px;
  padding:20px;
  position:relative;
  z-index:1080;
  background-color:#fff;
  border:2px solid #69014b;
  border-radius:0px 30px 0px 30px;
  box-shadow: 1px 6px 14px 2px #69014bbf;
  -webkit-box-shadow: 1px 6px 14px 2px #af014bbf;
  -moz-box-shadow: 1px 6px 14px 2px #af014bbf;
}

/*---TEXTOS---*/
.titulo-centrado{
  text-align: center;
}

p{
  font-size:1em;
  text-align: justify;
}

p.texto-centrado{
  text-align:center !important;
}

p.fechas{
  font-size: .8em;
  text-align:left;
}

/*--@media--*/
@media (max-width: 575px){
  .container.bio{
      max-width: 350px;
  }
  .bio-image-col{
    max-width: 280px;
  }
}